/*------------------------------------------------------------------
DOCUMENT INFORMATION

[Master Stylesheet]
Project:	  Name of the Project
Version:	  1.0
Last change:  Date goes here
Author: Franz G
Author URI:   http://franzw.com
Primary use:  Type of the project 
Client:       Name of the client
-------------------------------------------------------------------*/
/*	
	@import "layout.css";
	@import "colors.css";
	@import "typography.css";
*/
/* @import "debugging.css"; */
/* COLORS
	- default body text  #ffffcc
	- subtitle h2 text   #ff9900
	- form input borders #cc9933
	- default p text     #f0f0f0
	- pre borders        #ffff99
*/
/* FONTS
	- default body text  Arial, Helvetica Neue, Helvetica, sans-serif
	- subtitle h2 text   Garamond, Hoefler Text, Times New Roman, Times, serif
	- form input text    Cambria, Georgia, Times, Times New Roman, Times, serif
	- default p text     Copperplate Light, Copperplate Gothic Light, serif
	- pre and code       Consolas, Lucida Console, Monaco, monospace
*/
/*------------------------------------------------------------------


Notes:	some extra comment
-------------------------------------------------------------------*/
body { background-color: #1abc9c; }

.mainbox { background-color: white; padding-right: 0px; padding-left: 0px; }

.entry-thumbnail { width: 300px; height: 250px; padding: 5px; margin: 5px; }

.letitle { color: gray; font-size: 2em; }
.letitle:hover { text-decoration: none; color: black; }

.label { border-radius: 0px; }

.le-label a { color: white; text-decoration: none; }
.le-label a:hover { color: lightgray; }

.img-thumbnail { border-radius: 0px; }

.wp-post-image { float: left; margin: 0px 10px 10px 0; }
